body {
  background-color: beige;
}

h1 {
  
}

#chakra-meditation {
  height: 250px;
  width: 333px;
}


#main p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5em;
}

#introduction p {
  
}

#root {
  background-color: red;
}

#sacral {
  background-color: orange;
}

#solar-plexus {
  background-color: yellow;
}

#heart {
  background-color: green;
}

#throat {
  background-color: #0000ffcf;
}

#brow#4b0082dc
  background-color: #4b0082d7;
}

#crown {
  background-color: #ee82ee;
}

.chakras {
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
  font-weight: bold;
}



