body {
  background-color: beige;
}

h1 {
  
}

#chakra-meditation {
  height: 250px;
  width: 333px;
}


#main p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5em;
}

#introduction p {
  
}

#root {
  background-color: #ff0000;
}

#sacral {
  background-color: #ffa500;
}

#solar-plexus {
  background-color: #ffff00;
}

#heart {
  background-color: #00ff00;
}

#throat {
  background-color: #0000ff;
}

#brow {
  background-color: #4b0082;
}

#crown {
  background-color: #ee82ee;
}

.chakras {
  font-family: 'Amatic SC', cursive;
}



